#add_user
{
	position:absolute;
	top:14%;
	left:12%;
}
#modal_button
{
	position: absolute;
    top: 12%;
    left: 12%;
}
#password
{
	position:absolute;
	left:35%;
}
#confirm_password
{
	position:absolute;
	left:35%;	
}
.recovery-link
{
	color:red;
}
.comments
{
	position:absolute;
	top:38%;
	left:42%;
}
.policy_id 
{
	border: solid 1px; 
	border-radius: 24px;   
    width:218px;
    height:37px;
}
.inform-hierarchy
{
	position:absolute;
	left:11%;
}

.hierarchy-email-text
{
	position: absolute;
    left: 15%;
<<<<<<< Updated upstream
    bottom: 6%;
}
=======
    bottom: -2%;
}

>>>>>>> Stashed changes
